@using BiographicalDetails.Website.Models.Enums

@model BiographicalDetailsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BiographicalData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div id="firstNameGroup" class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div id="lastNameGroup" class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div id="emailGroup" class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div id="pronounsGroup" class="form-group">
                <label asp-for="PreferredPronouns" class="control-label"></label>
                <input asp-for="PreferredPronouns" class="form-control" />
                <span asp-validation-for="PreferredPronouns" class="text-danger"></span>
            </div>
            <div id="levelOfStudyGroup" class="form-group">
                <label asp-for="LevelOfStudy" class="control-label"></label>
                <select asp-for="LevelOfStudy"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<LevelOfStudy>()">
                    <option>Select level of study ...</option>
                </select>
                <span asp-validation-for="LevelOfStudy" class="text-danger"></span>
            </div>
            <div id="immigrationStatusGroup" class="form-group">
                <label asp-for="ImmigrationStatus" class="control-label"></label>
                <select asp-for="ImmigrationStatus"
                        class="form-control"
                        onchange="loadVisibility()"
                        asp-items="Html.GetEnumSelectList<ImmigrationStatus>()">
                    <option>Select immigration status ...</option>
                </select>
                <span asp-validation-for="ImmigrationStatus" class="text-danger"></span>
            </div>
            <div id="socialInsuranceNumberGroup" class="form-group">
                <label asp-for="SocialInsuranceNumber" class="control-label"></label>
                <input asp-for="SocialInsuranceNumber" class="form-control" />
                <span asp-validation-for="SocialInsuranceNumber" class="text-danger"></span>
            </div>
            <div id="uniqueClientIdentifierGroup" class="form-group">
                <label asp-for="UniqueClientIdentifier" class="control-label"></label>
                <input asp-for="UniqueClientIdentifier" class="form-control" />
                <span asp-validation-for="UniqueClientIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/specialFieldsVisibility.js"></script>
}
